
  <%= form_with(model: user) do |form| %>
 

  <div class="form-input">
    <div class="input-icon">
     <span class="fa fa-user"></span></div>
    <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Enter new name... " %> 
 </div>
 <br/>


 <div class="form-input">
  <div class="input-icon">
   <span class="fa fa-envelope"></span>
  </div>
 <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter new email... " %>  
</div>
<br/>
  
<div class="form-input">
  <div class="input-icon">
   <span class="fa fa-lock"></span>
  </div>
   <%= form.password_field :password, autocomplete: "new-password", placeholder: "Enter new password... " %>
</div>

  <button class="form-btn">
    <%= form.submit "" %>
   Ok
</button>

 
<% end %>

   
